@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


/*--- Main Body CSS ---*/
body
{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 0;
    border: 1px solid #ccc;
    height: 750px; /*---- Not Mandatory -----*/
}

.header{
    background-color: #cccccc;
    padding: 2.5% 0 2.5% 2.5%;
}
.header label{
    font-size: 140%;    
}
.bodyContainer label{
    color: #8c8c8c;
    font-size: 140%;
    padding-top: 12%;
}
/*--- Main Body CSS Ends---*/

/*--- Media Query for different resolutions---*/
@media screen and (min-width: 1200px) {
    .popup-box {
        height: 290px;
        width: 360px;
    }
    .popup-box-show {
        display: block !important;
        margin-left: 120%;
    }
    .popup-box .popup-body{
        margin-top: -3%;
    }
    .popup-box .popup-body .popup-section {
        width: 71px;
        overflow: hidden;
        margin-left: -1%;
    }
    .popup-box .popup-body img.tall {
        max-height: 100px;
        max-width: 70px;
        width: auto;
        margin-left: 0.5%;
    }
    .popup-box .popup-body img.wide {
        max-height: 100px;    
        margin: 0 0 0 -80%;
    }
    .popup-box .popup-body p{
        font-size: 110%;
    }
}
@media (max-width: 1201px) and (min-width: 992px) {
    .popup-box {
        height: 280px;
        width: 345px;
    }
    .popup-box-show {
        display: block !important;
        margin-left: 115%;
    }
    .popup-box .popup-body{
        margin-top: -4%;
    }
    .popup-box .popup-body .popup-section {
        width: 68px;
        overflow: hidden;
        margin-left: -2%;
    }
    .popup-box .popup-body img.tall {
        max-height: 99px;
        max-width: 67px;
        width: auto;
        margin-left: 0.5%;
    }
    .popup-box .popup-body img.wide {
        max-height: 99px;    
        margin: 0 0 0 -79%;
    }
    .popup-box .popup-body p{
        font-size: 108%;
    }
}
@media (max-width: 993px) and (min-width: 675px) {
    .popup-box {
        height: 260px;
        width: 320px;
    }
    .popup-box-show {
        display: block !important;
        margin-left: 105%;
    }
    .popup-box .popup-body{
        margin-top: -6%;
    }
    .popup-box .popup-body .popup-section {
        width: 64px;
        overflow: hidden;
        margin-left: -2%;
    }
    .popup-box .popup-body img.tall {
        max-height: 90px;
        max-width: 62px;
        width: auto;
        margin-left: 0.5%;
    }
    .popup-box .popup-body img.wide {
        max-height: 90px;    
        margin: 0 0 0 -78%;
    }
    .popup-box .popup-body p{
        font-size: 105%;
    }
}
@media (max-width: 674px) and (min-width: 550px) {
    .popup-box {
        height: 265px;
        width: 285px;
    }
    .popup-box-show {
        display: block !important;
        margin-left: 102%;
    }
    .popup-box .popup-body{
        margin-top: -9%;
    }
    .popup-box .popup-body .popup-section {
        width: 58px;
        overflow: hidden;
        margin-left: -3%;
    }
    .popup-box .popup-body img.tall {
        max-height: 78px;
        max-width: 54px;
        width: auto;
        margin-left: 0.5%;
    }
    .popup-box .popup-body img.wide {
        max-height: 78px;    
        margin: 0 0 0 -66%;
    }
    .popup-box .popup-body p{
        font-size: 105%;
    }
}
@media (max-width: 549px) and (min-width: 430px) {
    .popup-box {
        height: 265px;
        width: 285px;
    }
    .popup-box-show {
        display: block !important;
        margin-left: 97%;
    }
    .popup-box .popup-body{
        margin-top: -9%;
    }
    .popup-box .popup-body .popup-section {
        width: 58px;
        overflow: hidden;
        margin-left: -3%;
    }
    .popup-box .popup-body img.tall {
        max-height: 78px;
        max-width: 54px;
        width: auto;
        margin-left: 0.5%;
    }
    .popup-box .popup-body img.wide {
        max-height: 78px;    
        margin: 0 0 0 -66%;
    }
    .popup-box .popup-body p{
        font-size: 105%;
    }
}
/*--- /Media Query for different resolutions---*/

/*--- Pop up box CSS ---*/
.popup-box {
    background-color: #ffffff;
    border: 1px solid #b0b0b0;
    bottom: 3%;
    display: none;
    box-shadow: 1px 1px 7px #9f9f9f;
    position: fixed;
    right: 110px;
    font-family: 'Open Sans', sans-serif;
}
.popup-box .popup-head {
    background-color: #fff;
    clear: both;
    color: #7b7b7b;
    display: inline-table;
    padding: 0;
    width: 100%;
}
.popup-box .popup-head .popup-head-right {
    margin: 2px 7px 0;
}

.popup-header-button {
    background: transparent none repeat scroll 0 0;
    border: none;
    font-size: 115%;
}

.popup-box .popup-body .products{
    border: 1px solid #cccccc;
    height: 200px;
    width: 40%;
    background-color: #ededed;
    margin-left: 9%;
}
.popup-box .popup-body label{
    font-size: 90%;
}

.popup-box .popup-body span{
    font-size: 80%;
}
/*--- Pop up box CSS Ends ---*/


/*--- Common CSS ---*/
.zero-padding-left-right{
    padding: 0;
}
.marginLeft_-4px{
    margin-left: -4px;
}
.marginTop_4px{
   margin-top: 4px;
}
.marginTop_7pc{
   margin-top: 7%;
}
.marginLeft_2pc{
    margin-left: 2% !important;
}
.borderTop_2px{
    border-top: 2px solid #cccccc;
}
.background_color{
    background: white;
}
/*--- Common CSS Ends ---*/